@font-face {
  font-family: "roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}
* {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 60%;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

header .intro {
  border-bottom: 1px solid #ebebeb;
}
header .intro .wrapper__intro {
  justify-content: space-between;
}
header .intro__contact {
  height: 50px;
}
header .intro__contact .time, header .intro__contact .phone, header .intro__contact .contact {
  padding: 0 15px;
  margin: 20px 0;
}
header .intro__contact .phone {
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
}
header .intro__contact p {
  display: inline-block;
  color: #888889;
  font-size: 14px;
  font-family: "roboto";
}
header .intro__contact i {
  color: #888889;
}
header .intro__icon i {
  color: #888889;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid #ebebeb;
  margin: 8px 5px;
  font-size: 14px;
}
header .header {
  justify-content: space-between;
}
header .header__logo {
  margin: 25px 6px;
}
header .header__menu .menu {
  list-style: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: "roboto";
}
header .header__menu .menu a {
  text-decoration: none;
  color: #252528;
  margin: 40px 8px 37px 8px;
  display: inline-block;
  position: relative;
}
header .header__menu .menu a span {
  font-size: 0.7rem;
  font-family: "roboto";
  background: #89c441;
  color: #fff;
  position: absolute;
  top: -0.5rem;
  left: 0.8rem;
  padding: 0.1rem 0.3rem;
  border-radius: 50%;
}
header .header__menu .active {
  border-bottom: 3px solid #89c441;
}

main .banner {
  background: url(../assets/background.jpg) center no-repeat;
  background-size: cover;
  height: 730px;
  width: 100%;
}
main .banner .content {
  padding-top: 15%;
}
main .banner .content__headline {
  font-size: 3.75rem;
  font-family: "roboto";
  font-weight: 100;
  text-transform: uppercase;
}
main .banner .content__headline span {
  color: #89c441;
}
main .banner .content__headline--weight {
  font-weight: 700;
}
main .banner .content__description {
  font-size: 1.125rem;
  font-family: "roboto";
  margin: 35px 0;
  color: #3a3a3a;
}
main .banner .content__btn {
  padding: 18px 25px;
  font-size: 1rem;
  font-family: "roboto";
  text-transform: capitalize;
  border-radius: 3px;
  border: 1px solid #89c441;
  background: #89c441;
  color: #fff;
  transition: all 0.3s ease;
}
main .banner .content__btn:hover {
  color: #89c441;
  background: #fff;
}
main .section1 {
  margin-bottom: 100px;
}
main .section1 .title {
  text-align: center;
  margin: 95px 20% 50px 20%;
}
main .section1 .title .headline {
  font-size: 32px;
  font-family: "roboto";
  margin-bottom: 35px;
  text-transform: capitalize;
  color: #252528;
}
main .section1 .title .description {
  font-size: 14px;
  font-family: "roboto";
  color: #888889;
  line-height: 2;
}
main .section1 .wrapper-cart {
  justify-content: space-between;
}
main .section1 .wrapper-cart .cart {
  width: 32%;
  padding: 50px 40px;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  box-sizing: border-box;
}
main .section1 .wrapper-cart .cart__headline {
  font-size: 22px;
  font-family: "roboto";
  color: #252528;
  text-transform: capitalize;
  margin-bottom: 25px;
  text-align: center;
}
main .section1 .wrapper-cart .cart__description {
  font-size: 14px;
  font-family: "roboto";
  color: #888889;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 30px;
}
main .section1 .wrapper-cart .cart__image {
  display: block;
  margin: auto;
}
main .section1 .wrapper-cart .cart .btn {
  font-size: 14px;
  font-family: "roboto";
  color: #888889;
  display: block;
  text-align: center;
  margin-top: 30px;
  cursor: pointer;
}
main .project {
  background: #f5f9fc;
}
main .project .header {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  margin-bottom: 55px;
}
main .project .header__headline {
  font-size: 30px;
  font-family: "roboto";
  text-transform: capitalize;
  color: #252528;
  position: relative;
}
main .project .header__headline::after {
  content: "";
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 1;
  width: 70px;
  height: 3px;
  background: #89c441;
}
main .project .header__list .list {
  display: flex;
  list-style: none;
  font-size: 17px;
  font-family: "roboto";
}
main .project .header__list .list__item {
  margin: 10px 5px;
  padding: 5px 10px;
  text-transform: capitalize;
}
main .project .header__list .list .active {
  color: #89c441;
  border: 2px solid #89c441;
}
main .project .list-image {
  display: flex;
  margin-bottom: 55px;
}
main .project .list-image .image {
  width: 25%;
}
main .project__btn {
  display: inline-block;
  margin-left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;
  font-family: "roboto";
  padding: 10px 20px;
  background: #89c441;
  color: #fff;
  border-radius: 5px;
  transition: all 0.3s ease;
  border: 1px solid #89c441;
  margin-bottom: 60px;
  cursor: pointer;
}
main .project__btn:hover {
  background: #fff;
  color: #89c441;
}
main .construction .title {
  text-align: center;
  margin: 95px 20% 50px 20%;
}
main .construction .title .headline {
  font-size: 32px;
  font-family: "roboto";
  margin-bottom: 35px;
  text-transform: capitalize;
  color: #252528;
}
main .construction .title .description {
  font-size: 14px;
  font-family: "roboto";
  color: #888889;
  line-height: 2;
}
main .construction .wrapper-content {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: auto auto;
  margin-bottom: 105px;
}
main .construction .wrapper-content .box {
  width: 50%;
  box-sizing: border-box;
  position: relative;
}
main .construction .wrapper-content .box__image {
  width: 100%;
}
main .construction .wrapper-content .box__headline {
  font-size: 24px;
  font-family: "roboto";
  text-transform: capitalize;
  color: #252528;
  position: relative;
}
main .construction .wrapper-content .box__headline::after {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 3px;
  background: #89c441;
}
main .construction .wrapper-content .box__description {
  margin-top: 40px;
}
main .construction .wrapper-content .box__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  color: #89c441;
  padding: 20px 24px;
  border-radius: 50%;
  border: 1px solid #fff;
  box-shadow: 0 0 50px #fff;
  opacity: 0;
  transition: all 0.3s ease;
}
main .construction .wrapper-content .box:hover .box__icon {
  opacity: 1;
}
main .construction .wrapper-content .box--padding {
  padding: 40px;
  font-size: 14px;
  font-family: "roboto";
  color: #888889;
}

/*# sourceMappingURL=style.css.map */
