@import './mixin.scss';

@include customFontFace('roboto', '../fonts/Roboto-Regular.ttf');

* {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 60%;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

header {
  .intro {
    border-bottom: 1px solid $colorBorder;
    .wrapper__intro {
      justify-content: space-between;
    }
  
    &__contact {
      height: 50px;
      .time, .phone, .contact {
        padding: 0 15px;
        margin: 20px 0;
      }
      .phone {
        border-left: 1px solid $colorBorder;
        border-right: 1px solid $colorBorder;
      }
      p {
        display: inline-block;
        color: $colorParagraph;
        @include customFont(14px, 'roboto');
      }
      i {
        color: $colorParagraph;
      }
    }
    &__icon {
      i {
        color: $colorParagraph;
        padding: 10px;
        border-radius: 50%;
        border: 1px solid $colorBorder;
        margin: 8px 5px;
        font-size: 14px;
      }
    }
  }
  .header {
    justify-content: space-between;
    &__logo {
      margin: 25px 6px;
    }
    &__menu {
      .menu {
        list-style: none;
        text-transform: uppercase;
        @include customFont(1rem, 'roboto');
        a {
          text-decoration: none;
          color: $colorBlack;
          margin: 40px 8px 37px 8px;
          display: inline-block;
          position: relative;
          span {
            @include customFont(0.7rem, 'roboto');
            background: $colorGreen;
            color: $colorWhite;
            position: absolute;
            top: -0.5rem;
            left: 0.8rem;
            padding: 0.1rem 0.3rem;
            border-radius: 50%;
          }
        }
      }
      .active {
        border-bottom: 3px solid $colorGreen;
      }
    }
  }
}
main {
  .banner {
    background: url(../assets/background.jpg) center no-repeat;
    background-size: cover;
    height: 730px;
    width: 100%;
    .content {
      padding-top: 15%;
      &__headline {
        @include customFont(3.75rem, 'roboto');
        font-weight: 100;
        text-transform: uppercase;
        span {
          color: $colorGreen;
        }
      }
      &__headline--weight {
        font-weight: 700;
      }
      &__description {
        @include customFont(1.125rem, 'roboto');
        margin: 35px 0;
        color: #3a3a3a;
      }
      &__btn {
        padding: 18px 25px;
        @include customFont(1rem, 'roboto');
        text-transform: capitalize;
        border-radius: 3px;
        border: 1px solid $colorGreen;
        background: $colorGreen;
        color: $colorWhite;
        transition: all .3s ease;

        &:hover {
          color: $colorGreen;
          background: $colorWhite;
        }
      }
    }
  }
  .section1 {
    margin-bottom: 100px;
    @include customTitle;
    .wrapper-cart {
      justify-content: space-between;
      .cart {
        width: 32%;
        padding: 50px 40px;
        border: 1px solid $colorBorder;
        border-radius: 5px;
        box-sizing: border-box;
        &__headline {
          @include customFont(22px, 'roboto');
          color: $colorBlack;
          text-transform: capitalize;
          margin-bottom: 25px;
          text-align: center;
        }
        &__description {
          @include customFont(14px, 'roboto');
          color: $colorParagraph;
          line-height: 1.4;
          text-align: center;
          margin-bottom: 30px;
        }
        &__image {
          display: block;
          margin: auto;
        }
        .btn {
          @include customFont(14px, 'roboto');
          color: $colorParagraph;
          display: block;
          text-align: center;
          margin-top: 30px;
          cursor: pointer;
        }
      }
    }
  }
  .project {
    background: #f5f9fc;
    .header {
      display: flex;
      justify-content: space-between;
      padding-top: 100px;
      margin-bottom: 55px;
      &__headline {
        @include customFont(30px, 'roboto');
        text-transform: capitalize;
        color: $colorBlack;
        position: relative;
        &::after {
          content: '';
          @include customPosition(absolute, 50px, 0, 1, 70px, 3px, true);
          background: $colorGreen;
        }
      }
      &__list {
        .list {
          display: flex;
          list-style: none;
          @include customFont(17px, 'roboto');
          &__item {
            margin: 10px 5px;
            padding: 5px 10px;
            text-transform: capitalize;
          }
          .active {
            color: $colorGreen;
            border: 2px solid $colorGreen;
          }
        }
      }
    }
    .list-image {
      display: flex;
      margin-bottom: 55px;
      .image {
        width: 25%;
      }
    }
    &__btn {
      display: inline-block;
      margin-left: 50%;
      transform: translateX(-50%);
      @include customFont(1rem, 'roboto');
      padding: 10px 20px;
      background: $colorGreen;
      color: $colorWhite;
      border-radius: 5px;
      transition: all .3s ease;
      border: 1px solid $colorGreen;
      margin-bottom: 60px;
      cursor: pointer;
      &:hover {
        background: $colorWhite;
        color: $colorGreen;
      }
    }
  }
  .construction {
    @include customTitle;
    .wrapper-content {
      display: flex;
      flex-wrap: wrap;
      grid-template-columns: auto auto;
      margin-bottom: 105px;
      .box {
        width: 50%;
        box-sizing: border-box;
        position: relative;
        &__image {
          width: 100%;
        }
        &__headline {
          @include customFont(24px, 'roboto');
          text-transform: capitalize;
          color: $colorBlack;
          position: relative;
          &::after {
            content: '';
            @include customPosition(absolute, 40px, 0, 1, 60px, 3px, true);
            background: $colorGreen;
          }
        }
        &__description {
          margin-top: 40px;
        }
        &__icon {
          @include customPosition(absolute, 50%, 50%, 1, 0, 0, false);
          transform:  translate(-50%, -50%);
          font-size: 1.5rem;
          color: $colorGreen;
          padding: 20px 24px;
          border-radius: 50%;
          border: 1px solid $colorWhite;
          box-shadow: 0 0 50px $colorWhite;
          opacity: 0;
          transition: all .3s ease;
        }
        &:hover .box__icon {
          opacity: 1;
        }
      }
      .box--padding {
        padding: 40px;
        @include customFont(14px, 'roboto');
        color: $colorParagraph;
      }
    }
  }
}