@import './mixin.scss';

@include customFontFace('roboto', '../fonts/Roboto-Regular.ttf');

* {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 60%;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

header {
  height: 140px;
  .intro {
    justify-content: space-between;
    border-bottom: 1px solid $colorBorder;
  
    &__contact {
      height: 50px;
      .time, .phone, .contact {
        padding: 0 15px;
        margin: 20px 0;
      }
      .phone {
        border-left: 1px solid $colorBorder;
        border-right: 1px solid $colorBorder;
      }
      p {
        display: inline-block;
        color: $colorParagraph;
        @include customFont(14px, 'roboto');
      }
      i {
        color: $colorParagraph;
      }
    }
    &__icon {
      i {
        color: $colorParagraph;
        padding: 10px;
        border-radius: 50%;
        border: 1px solid $colorBorder;
        margin: 8px 5px;
        font-size: 14px;
      }
    }
  }
  .header {
    justify-content: space-between;
    &__logo {
      margin: 25px 6px;
    }
    &__menu {
      .menu {
        list-style: none;
        text-transform: uppercase;
        @include customFont(1rem, 'roboto');
        a {
          text-decoration: none;
          color: $colorBlack;
          margin: 40px 6px;
          display: inline-block;
        }
      }
      .active {
        border-bottom: 2px solid $colorGreen;
      }
    }
  }
}