@import './mixin.scss';

@include customFontFace('roboto', '../fonts/Roboto-Regular.ttf');

* {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 60%;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

header {
  .intro {
    border-bottom: 1px solid $colorBorder;
    .wrapper__intro {
      justify-content: space-between;
    }
  
    &__contact {
      height: 50px;
      .time, .phone, .contact {
        padding: 0 15px;
        margin: 20px 0;
      }
      .phone {
        border-left: 1px solid $colorBorder;
        border-right: 1px solid $colorBorder;
      }
      p {
        display: inline-block;
        color: $colorParagraph;
        @include customFont(14px, 'roboto');
      }
      i {
        color: $colorParagraph;
      }
    }
    &__icon {
      i {
        color: $colorParagraph;
        padding: 10px;
        border-radius: 50%;
        border: 1px solid $colorBorder;
        margin: 8px 5px;
        font-size: 14px;
      }
    }
  }
  .header {
    justify-content: space-between;
    &__logo {
      margin: 25px 6px;
    }
    &__menu {
      .menu {
        list-style: none;
        text-transform: uppercase;
        @include customFont(1rem, 'roboto');
        a {
          text-decoration: none;
          color: $colorBlack;
          margin: 40px 8px 37px 8px;
          display: inline-block;
          position: relative;
          span {
            @include customFont(0.7rem, 'roboto');
            background: $colorGreen;
            color: $colorWhite;
            position: absolute;
            top: -0.5rem;
            left: 0.8rem;
            padding: 0.1rem 0.3rem;
            border-radius: 50%;
          }
        }
      }
      .active {
        border-bottom: 3px solid $colorGreen;
      }
    }
  }
}
main {
  .banner {
    background: url(../assets/background.jpg) center no-repeat;
    background-size: cover;
    height: 730px;
    width: 100%;
    .content {
      padding-top: 15%;
      &__headline {
        @include customFont(3.75rem, 'roboto');
        font-weight: 100;
        text-transform: uppercase;
        span {
          color: $colorGreen;
        }
      }
      &__headline--weight {
        font-weight: 700;
      }
      &__description {
        @include customFont(1.125rem, 'roboto');
        margin: 35px 0;
        color: #3a3a3a;
      }
      &__btn {
        padding: 18px 25px;
        @include customFont(1rem, 'roboto');
        text-transform: capitalize;
        border-radius: 3px;
        border: 1px solid $colorGreen;
        background: $colorGreen;
        color: $colorWhite;
        transition: all .3s ease;

        &:hover {
          color: $colorGreen;
          background: $colorWhite;
        }
      }
    }
  }
}